In [4]:
import numpy as np
import pandas as pd
import gc

In [12]:
holidays=pd.read_csv('data/holidays_events.csv')
stores= pd.read_csv('data/stores.csv')
oil= pd.read_csv('data/oil.csv')
items= pd.read_csv('data/items.csv')
train= pd.read_csv('data/train.csv')
test=pd.read_csv('data/test.csv')
transactions=pd.read_csv('data/transactions.csv')

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 6 columns):
id             int64
date           object
store_nbr      int64
item_nbr       int64
unit_sales     float64
onpromotion    object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.6+ GB

In [ ]:
train['date']= pd.to_datetime(train['date'])
train_2016on= train[train['date'].dt.year >=2016]
del train
gc.collect()

In [17]:
train_2016on.head()

                id       date  store_nbr  item_nbr  unit_sales onpromotion
66458908  66458908 2016-01-01         25    105574        12.0       False
66458909  66458909 2016-01-01         25    105575         9.0       False
66458910  66458910 2016-01-01         25    105857         3.0       False
66458911  66458911 2016-01-01         25    108634         3.0       False
66458912  66458912 2016-01-01         25    108701         2.0        True

In [18]:
train_2016on.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59038132 entries, 66458908 to 125497039
Data columns (total 6 columns):
id             int64
date           datetime64[ns]
store_nbr      int64
item_nbr       int64
unit_sales     float64
onpromotion    object
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 3.1+ GB

In [19]:
oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
date          1218 non-null object
dcoilwtico    1175 non-null float64
dtypes: float64(1), object(1)
memory usage: 19.1+ KB

In [20]:
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [21]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
date            83488 non-null object
store_nbr       83488 non-null int64
transactions    83488 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.9+ MB

In [22]:
transactions.tail()

             date  store_nbr  transactions
83483  2017-08-15         50          2804
83484  2017-08-15         51          1573
83485  2017-08-15         52          2255
83486  2017-08-15         53           932
83487  2017-08-15         54           802

In [23]:
holidays.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [24]:
items.head()

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [25]:
test.head()

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False